<h1>Welcome!</h1>

<h4><%= flash[:notice] %></h4>


<div class="form-container">
  <div class="login">
    <div>
      <%= form_tag(login_path) do %>
        <%= label_tag :username %> <br>
        <%= text_field_tag :username %> <br>
        <%= label_tag :password %> <br>
        <%= password_field_tag :password %> <br>
        <br>
        <center> <%= submit_tag 'Login' %></center>
            <% end %>
      <br>
    <!-- </div> -->
    <!-- <div class="login"> -->


    </div>
    <!-- </div> -->
    <!-- <div class="login"> -->
      <div>
        <b>Don't have an account? Create one <span style="margin-left: 2px"><%= link_to " here", new_user_path %></span> !</b>
     </div>
  </div>
</div>
