<h1>User Login</h1>

<h4><%= flash[:notice] %></h4>

<%= form_tag(login_path) do %>
  <%= label_tag :username %> <br>
  <%= text_field_tag :username %> <br>

  <%= label_tag :password %> <br>
  <%= password_field_tag :password %> <br>

  <%= submit_tag 'Login' %>
<% end %>
<br>
Don't have an account? Create one <%= link_to "here", new_user_path %>!
