<h1>Editing :<%= @artist.name %> </h1>

<ul>
  <% if flash[:errors] %>
  <% flash[:errors].each do |msg| %>
  <li> <%= msg %></li>
    <% end %>
  <% end %>
</ul>
  <div class="form-container">
    <div class="form">
      <div>
  <%= form_for @artist do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :username %><br>
    <%= f.text_field :username %><br>

    <%= f.label :email %><br>
    <%= f.text_field :email %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password%><br>

    <%= f.label :password_confirmation%><br>
    <%= f.password_field :password_confirmation%><br>
<br>

    <center> <%= f.submit %></center>
  </div>
  </div>
  </div>
    <% end %>
