<h1 class="h1-show"> <%= @artist.name %> </h1>

<% if flash[:new_error] %>
<h2> <%= flash[:new_error] %></h2><br>
<% end %>

<div class="page-container">

  <img src= "<%= @artist.image %>" class="img-show" alt=""> <br>

  <div class="event-show">
  <h2 class="h2-event-show"><b> <%= @artist.name %> is performing at: </b></h2>
    <ul>
    <% @artist.events.select{|e| e.show_date >= Date.today}.sort_by{|e| e.show_date}.each do |e| %>
    <div class="event-list"> <%= link_to  e.venue.name + " on " + e.date_display, e %> </div>
    <% end %>
    </ul>
  </div>

</div>
