<h1> <%= @artist.name %> </h1>

<% if flash[:new_error] %>
<h2> <%= flash[:new_error] %></h2><br>
<% end %>

<img src= "<%= @artist.image %>" alt=""> <br>

<b> <%= @artist.name %> is performing at: </b>
<ul>
<% @artist.events.each do |e| %>
<li> <%= link_to  e.venue + " on " + e.date_display, e %> </li>
<% end %>
</ul>
