<h1> <%= @user.username %> </h1>

<% if flash[:new_error] %>
<h2> <%= flash[:new_error] %></h2><br>
<% end %>

<b>Name:</b> <%= @user.first_name %> <%= @user.last_name %> <br>
<b>City:</b> <%= @user.city %><br>



<b> <%= @user.username %> has tickets to see: </b>
  <ol>
  <% @user.tickets.all.map {|t| t.event}.each do |e| %>
  <li> <%= link_to e.artist.name  + " at " +  e.venue, e %> on <%= e.date_display %></li>
  <% end %>
</ol>
