<h1> <%= @user.username %> </h1>

<% if flash[:ticket_error] %>
<%= flash[:ticket_error] %>
<% end %>

<b>Name:</b> <%= @user.first_name %> <%= @user.last_name %> <br>
<b>City:</b> <%= @user.city %><br><br>

<b> <%= @user.username %> has tickets to see: </b>
  <ol>
  <% @user.tickets.all.map {|t| t.event}.each do |e| %>
  <li> <%= link_to e.artist.name  + " at " +  e.venue, e %> on <%= e.date_display %></li>
  <% end %>
</ol>

<% if current_user.id == @user.id %>
  <%= button_to "Edit User", edit_user_path, method: :get  %>
  <br>

  <% i = 1 %>
    <%@user.tickets.each do |t|%>
    <%= button_to "Delete Ticket #{i}",t, method: :delete  %>
    <% i += 1 %>
    <% end %>
  <%= button_to "Logout", logout_path, method: :delete, data: {confirm: "Are you sure you want to logout?"}  %>
<% end %>
<br>
<%= link_to "View All Events", events_path %><br>
