
<ul>
  <% if flash[:errors] %>
    <% flash[:errors].each do |msg|  %>
  <li>  <%= msg %> </li>
    <% end %>
  <% end %>
</ul>

<div class="form-container">
  <div class="form">
    <div>
<%= form_for @event do |f|%>

  <%= f.label :city %><br>
  <%= f.select :city, @cities %><br>

  <%= f.label :venue %><br>
  <%= f.collection_select :venue_id, Venue.all.sort_by{|v| v.name}, :id, :name%><br>

  <%= f.label :show_time %><br>
  <%= f.time_field :show_time %><br>

  <%= f.label :show_date %><br>
  <%= f.date_field :show_date %><br>
  <br>

<center> <%= f.submit %></center>
</div>
</div>
</div>
<% end %>
