<h1>  <%= @event.artist.name %> at  <%= @event.venue %> </h1>

<b>Artist:</b> <%=link_to @event.artist.name, @event.artist %><br>
<b>City: </b> <%= @event.city %><br>
<b>Show Date:</b> <%= @event.date_display %><br>
<b>Show Time:</b> <%= @event.time_display %><br>
<br>

<b>Fans attending this concert:</b>
<ul>
<% @event.tickets.all.map {|t| t.user}.each do |u| %>
  <li> <%= link_to u.username, u %> </li>
<% end %>
</ul>

<% if @event.show_date > Date.today %>
  <% if !!current_user && current_user.class == User %>
    <% if current_user.tickets.find_by(event_id: @event.id) %>
    Can't make it anymore?
      <%= button_to "Delete Ticket", current_user.tickets.find_by(event_id: @event.id), method: :delete  %>
    <% else %>
    Want to go to this concert?
      <%= form_tag ('/tickets')%>
      <%= hidden_field(:user_id, current_user.id) %>
      <%= hidden_field(:event_id, @event.id) %>
      <%= submit_tag "Get Ticket"%>
    <% end %>
  <% end %>
<% end %>

<% if !!current_user && current_user.class == Artist && current_user.id == @event.artist.id %>
  <%= button_to "Edit Event", edit_event_path, method: :get %>
  <%= button_to "Delete Event", @event, method: :delete, data: {confirm: "Are you sure"} %>
<% end %>
