<h1>  <%= @event.artist.name %> at  <%= @event.venue.name %> </h1>

<div class="event-show-page-container">
  <div class="top-row-container">

    <div class="show-page-box">
      <a href=" <%= artist_path(@event.artist.id) %> ">
      <img src=<%= @event.artist.image %>>
      </a>
    </div>

  <div class="show-page-box"><img src=<%= @event.venue.image %>></div>
</div>
<div class="second-row-container">

  <div class="show-page-box">
    <h2>Concert Infomation:</h2>
    <b>Artist:</b> <%=link_to @event.artist.name, @event.artist %><br>
    <b>City: </b> <%= @event.city %><br>
    <b>Show Date:</b> <%= @event.date_display %><br>
    <b>Show Time:</b> <%= @event.time_display %><br>
    <br>
    <% if @event.show_date > Date.today %>
      <% if !!current_user && current_user.class == User %>
        <% if current_user.tickets.find_by(event_id: @event.id) %>
          Can't make it anymore?
          <%= button_to "Delete Ticket", current_user.tickets.find_by(event_id: @event.id), method: :delete  %>
        <% else %>
          Want to go to this concert?
          <%= form_tag ('/tickets')%>
          <%= hidden_field(:user_id, current_user.id) %>
          <%= hidden_field(:event_id, @event.id) %>
          <%= submit_tag "Get Ticket"%>
        <% end %>
      <% end %>
    <% end %>
      <div class="event-edit-destroy">
        <% if !!current_user && current_user.class == Artist && current_user.id == @event.artist.id %>
        <%= button_to "Edit Event", edit_event_path, method: :get %>

        <% end %>
      </div>
    </div>
    <div class="show-page-box">
      <h2>Fans attending this concert:</h2>
      <% @event.tickets.all.map {|t| t.user}.each do |u| %>
      <p style="padding-left: 20px; margin-top: 0px; font-size: 100%;">  <%= link_to u.username, u %></p>
      <% end %>
    </div>
  </div>


</div>
