<!DOCTYPE html>
<html>
  <head>
    <title>TestEventApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
  </head>

  <body>
    <div class="ui inverted segment">
      <div class="ui inverted secondary menu">
          <%= link_to "View All Events", events_path, class: :item %>
          <%= link_to "View All Artists", artists_path, class: :item %>
    <% if !!current_user %>
        <%= link_to "Home", current_user, class: :item%>
        <%= link_to "Logout", logout_path, class: :item, method: :delete, data: {confirm: "Are you sure you want to logout?"}  %>

       <% else %>
        <%=link_to "Login", login_path, class: :item  %>
       <% end %>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
